body {
	margin: 0;
	font-family: "Roboto";
	background: #eaeaea;
}

a {
	text-decoration: none;
	color: inherit;
}

/* HEADER */

.header {
	background: black;
	color: #fff;
	text-align: center;
	height: 30px;
}

.boton {
	margin: 5px;
}

.user_bio {
	text-align: center;
}


.user_bio .avatar span {
	width: 130px;
	height: 130px;
	display: block;
	margin: 0 auto;
	background-size: cover !important;
	border-radius: 50%;
}